/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #D43534;
  --app-background: #0D0D0D;
  --app-text: #ffffff;
  --app-theme-1: #4A5AE4;
  --app-theme-2: #A5B4FF;
  --app-theme-3: #110E73;
  --app-border-radius: 10px;
}
