@use "common";

body {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  margin: 0;
  font-family: monospace;
  background: common.$chroma-6;
}
