:host {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  display: inline-flex;
  align-items: center;
  user-select: none;

  .progress-spinner-inner {
    position: relative;
    margin: 0 auto;
    width: 3.5rem;
    height: 3.5rem;
    display: inline-block;

    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }

  .progress-spinner-svg {
    animation: mrv-progress-spinner-rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .progress-spinner-circle {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: 0;
    stroke: #d62d20;
    animation: progress-spinner-dash 1.5s ease-in-out infinite,progress-spinner-color 6s ease-in-out infinite;
    stroke-linecap: round;
  }

  @keyframes progress-spinner-rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes progress-spinner-dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }

  @keyframes progress-spinner-color {
    100%,
    0% {
      stroke: var(--app-primary-color);
    }
    50% {
      stroke: var(--app-accent-color);
    }
  }

}
