:host {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 var(--app-gutter);

  h2 {
    margin: 0;
    font-size: 1.1rem;
  }

  .book-cover-content {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: var(--app-space-xs);
    padding: var(--app-space-xs) 0;
    overflow-y: hidden;
    overflow-x: auto;
  }

  .book-cover {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: var(--app-border-radius);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid var(--app-background);

    &:hover:not(.active) {
      cursor: pointer;
      border-color: var(--app-accent-color);
    }

    &.active {
      border-color: var(--app-theme-2);
    }
  }

  .favorite {
    position: absolute;
    top: 4px;
    right: 4px;
    color: var(--app-text);

    &.active {
      color: var(--app-accent-color);
    }

    svg {
      width: 1.25em;
      height: 1.25em;
      fill: currentcolor;
      pointer-events: none;
    }
  }
}
